.card {
  position: relative;
  font-family: 'NEXTART';
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: 3vw;
  box-shadow: 0 0 10px 5px rgba(236, 154, 41, 0.7);
  background: #f5f5f5;
  border-radius: 20px;
  width: 18vw;
  height: 18vw;
}

.period {
  color: #ec9a29;
}

.stars {
  position: absolute;
  top: -30px;
  left: -50px;
  width: 40%;
  height: 40%;
}

@media screen and (min-width: 1920px) {
  .card {
    font-size: 1.5vw;
    width: 14vw;
    height: 14vw;
  }

  .period {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    padding: 20px;
  }

  .period {
    font-size: 2.5vw;
  }

  .stars {
    left: -30px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 45%;
    height: auto;
    min-height: 190px;
    padding: 30px;
    gap: 20px;
  }

  .period {
    font-size: 3vw;
  }

  .price {
    color: #272826;
    font-size: 2vw;
  }
}

@media screen and (max-width: 560px) {
  .card {
    padding: 20px;
    gap: 20px;
  }

  .period {
    font-size: 4.5vw;
  }

  .price {
    font-size: 3vw;
  }
}

@media screen and (max-width: 376px) {
  .card {
    min-height: 142px;
    padding: 15px;
    gap: 20px;
  }

  .stars {
    top: -20px;
    left: -20px;
  }
}

@media screen and (max-width: 320px) {
  .card {
    min-height: 136px;
  }
}
